// app global css in Stylus form


.text-azul_escuro {
    color: $azul_escuro;    
}

.link-primario {
    text-decoration: none;
}

.link-primario:hover {
    font-weight: 700;
}

div.texto-menu a {
    text-decoration: none;
    color: $primary;
    font-size: 1.5em;
}